# environment
.envrc
.env.*
*.env
*.env.*
!.env.example

# Gradle
.gradle/
build/
out/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Java
*.class
*.log
hs_err_pid*
replay_pid*

# IDE
.vscode/
.idea/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Archives
*.jar
*.war
*.ear

# Docker
docker-compose.override.yml
